*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
ul.tab {
  position: absolute;
  bottom: 0;
}
@media (max-width:820px) {
    .tab{
        margin-right: 110px;

    }
}
@media (max-width:480px) {
    ul.tab {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -15px;
        gap: 10px;
    }
}
@media (max-width:414px) {
    ul.tab {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: -50px;
        gap: 6px;
    }
}
@media (max-width:375px) {
    ul.tab {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-right: 1px;
        
    }
}
div#signup-popup {
    background: rgb(31, 38, 47);
    max-width: 600px;
    padding: 20px;
    position: absolute;
    bottom: 0;
    animation: slideIn 0.5s forwards;
    margin-bottom: 85px;
    margin-right: -40px;
}
@media (max-width:820px) {
    div#signup-popup {
        background: rgb(31, 38, 47);
        max-width: 600px;
        padding: 20px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-bottom: 85px;
        margin-right: 40px;
    }
}
@media (max-width:480px) {
    div#signup-popup {
        background: rgb(31, 38, 47);
        width: 440px;
        padding: 20px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-right: -40px;
    }
}
@media (max-width:414px) {
    div#signup-popup {
        background: rgb(31, 38, 47);
        width: 360px;
        padding: 20px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-right: -30px;
    }
}
@media (max-width:390px) {
    div#signup-popup {
        background: rgb(31, 38, 47);
        width: 360px;
        padding: 20px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-right: -40px;
    }
}
@media (max-width:375px) {
    div#signup-popup {
        background: rgb(31, 38, 47);
        width: 350px;
        padding: 20px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-right: -48px;
    }
}
h1{
    font-size: 18px;
    font-weight: 400;
}
button#signbtn {
    background-color: yellow;
    font-size: 18px;
    color: white;
    padding: 12px 80px;
}
@media (max-width:375px) {
    button#signbtn {
     background-color: yellow;
    font-size: 13px;
    color: white;
    padding: 13px 50px;
    }
}
button#logbtn {
    background-color: yellow;
    font-size: 18px;
    color: white;
    padding: 12px 80px;
}
@media (max-width:375px) {
    button#logbtn {
     background-color: yellow;
    font-size: 13px;
    color: white;
    padding: 13px 50px;
    }
}
div#login-popup {
    background: rgb(31, 38, 47);
    max-width: 600px;
    position: absolute;
    bottom: 0;
    animation: slideIn 0.5s forwards;
    margin-bottom: 85px;
    margin-right: -40px;

}
@media (max-width:820px) {
    div#login-popup {
        background: rgb(31, 38, 47);
        max-width: 600px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-bottom: 85px;
        margin-right: 80px;    
    }
}
@media (max-width:480px) {
    div#login-popup {
        background: rgb(31, 38, 47);
        width: 400px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-right: -20px;
    }
}
@media (max-width:414px) {
    div#login-popup {
        background: rgb(31, 38, 47);
        width: 360px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-right: -30px;
    }
}
@media (max-width:375px) {
    div#login-popup {
        background: rgb(31, 38, 47);
        width: 330px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-right: -35px;
    }
}
@media (max-width:390px) {
    div#login-popup {
        background: rgb(31, 38, 47);
        width: 330px;
        position: absolute;
        bottom: 0;
        animation: slideIn 0.5s forwards;
        margin-right: -40px;
    }
}
h3 {
    font-size: 18px;
    font-weight: 400;
}
div#Register-popup {
    background: rgb(31, 38, 47);
    max-width: 600px;
    position: absolute;
    left: 0;
    margin-right: -60px;
    margin-top: 360px;
    border-radius: 4px;
    margin-left: 20px;
    padding: 10px;
    animation: slideIn 0.5s forwards;
}
@media (max-width:820px) {
    div#Register-popup {
        background: rgb(31, 38, 47);
        max-width: 600px;
        position: absolute;
        left: 0;
        margin-top: 480px;
        border-radius: 4px;
        margin-left: 150px;
        padding: 10px;
        animation: slideIn 0.5s forwards;
    }
}
@media (max-width:768px) {
    div#Register-popup {
        background: rgb(31, 38, 47);
        max-width: 600px;
        position: absolute;
        left: 0;
        margin-top: 420px;
        border-radius: 4px;
        margin-left: 150px;
        padding: 10px;
        animation: slideIn 0.5s forwards;
    }
}
@media (max-width:480px) {
    div#Register-popup {
        background: rgb(31, 38, 47);
        width: 445px;
        position: absolute;
        left: 0;
        margin-right: -60px;
        margin-top: 420px;
        border-radius: 4px;
        margin-left: 20px;
        padding: 10px;
        animation: slideIn 0.5s forwards;
    }
}
@media (max-width:414px) {
    div#Register-popup {
        background: rgb(31, 38, 47);
        width: 350px;
        position: absolute;
        left: 0;
        margin-right: -60px;
        margin-top: 420px;
        border-radius: 4px;
        margin-left: 24px;
        padding: 10px;
        animation: slideIn 0.5s forwards;
    }
}

@media (max-width:375px) {
    div#Register-popup {
        background: rgb(31, 38, 47);
        width: 350px;
        position: absolute;
        left: 0;
        margin-right: -60px;
        margin-top: 420px;
        border-radius: 4px;
        margin-left: 10px;
        padding: 10px;
        animation: slideIn 0.5s forwards;
    }
}