* {
    padding: 0;
    margin: 0;
    color: #ffffff;
}

body {
    font-family: 'Noto Sans', sans-serif;
    background-color: rgb(23, 28, 34);
}
@media (min-width: 1401px){
    .betSlip{
        left: 150vh !important;
    }
}