@media (min-width: 1400px) {
    .column2 {
        flex-grow: 3;
        max-width: 50%;
        overflow-y: auto;
        overflow-x: hidden;
    }

    .column4 {
        flex-grow: 1;
        display: flex;
        max-width: 28%;
        margin-right: auto;

    }
}