.teamRow1 {
    width: 90%;
}

.gameCol1 {
    width: 15%;
    flex-grow: 1;
}

.leagueCol1 {
    width: 15%;
    flex-grow: 1;
}

.nestedRow {
    width: 20%;
}

.nestedRow1 {
    width: 80%;
    padding: 5px;
}

.slipWrapper {
    height: 100%;
    width: 100%;
}

.slipBody {
    flex-grow: 3;
}
@media (max-width: 480px) {
    .betSlip {
        /* position: fixed; */
        width: 100% !important;
        bottom: 0;
        height: 70vh;
        left: 0 !important;
        margin: auto;
        z-index: 2;
        position: relative;
        animation: slideIn 0.5s forwards;
        
    }
    @keyframes slideIn {
        0% {
          opacity: 1;
          transform: translateY(0);
        }
        100% {
          opacity: 1;
          transform: translateY(30%);
        }
      }
    
    .slipHeader {
        justify-content: space-between;
    }
}

    

@media (max-width: 1400px) {
    .betSlip {
        position: fixed;
        width: 60%;
        bottom: 0;
        height: 70vh;
        z-index: 2;
        left: 0;
        margin: auto;
        /* position: relative; */
        animation: slideIn 0.5s forwards;
        
    }
    @keyframes slideIn {
        0% {
          opacity: 1;
          transform: translateY(30%);
        }
        100% {
          opacity: 1;
          transform: translateY(0);
        }
      }

      
    
    .slipHeader {
        justify-content: space-between;
    }
}
@media (min-width: 1400px) {
    /* Add additional styles as needed */
    .betSlip {
        position: fixed;
        width: 350px;
        /* left: 150vh !important; */
        height: 90%;
        z-index: 2;
        /* right: 0; */
        
    }
   
    .slipHeader {
        justify-content: space-between;
    }
    .clients{
        max-width: 76%;
    }
}



@media (max-width: 1050px) {
    /* Add additional styles as needed */
    .slipHeader {
        justify-content: space-between;
    }
}

@media (max-width: 850px) {
    /* Add additional styles as needed */
    .nestedRow {
        font-size: 8px;
    }
    .nestedRow1 {
        font-size: 8px;
    }
}